:root {
    --mainDark: #343a40;
    --mainGrey: rgba(109, 109, 109);
    --mainLightGrey: rgba(172, 172, 172);
    --mainWhite: #fff;
    --mainBlue: #007bff;
  }
  
  .navbar-toggler:focus {
    outline: none;
  }
  
  .navbar-toggler {
    border: none;
  }