.thead{visibility:visible;}
.th{visibility:visible;}
.applyId{display:none;}
.detail{display:block;}
.divStyle{ 
    margin-top:50px;
    margin-left:100px;
    margin-right:100px;
}
.thstate{
    width:80px;
}

@media only screen and (min-width: 350px) {
    .thead{visibility:collapse;}
    .th{visibility:collapse;}
    .applyId{display:block; font-size:12px;}
    .detail{display:none;}
    .divStyle{ 
        margin-top:10px;
        margin-left:0px;
        margin-right:0px;
    }
    .smalltext{font-size:12px;}
    .thstate{
        width:60px;
    }
}

@media only screen and (min-width: 768px) {
    .thead{visibility:visible;}
    .th{visibility:visible;}
    .applyId{display:none;}
    .detail{display:block;}
    .divStyle{ 
        margin-top:50px;
        margin-left:100px;
        margin-right:100px;
    }
    .thstate{
        width:80px;
    }
}
  