.contentnew{
  display:block;
  width:100%;
  height: auto;
  text-align: center;
  padding: 20px;
  margin: auto;
}

.img{
  position: relative;
  background-image: url("../images/background_student.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 110vh;
  background-size:cover;
}

.center-col{
  height: 300px;
  width: 100%;
  border-style: solid;
  overflow-y: scroll;

}

.signupbuttons{
  padding:  20px;
  text-align:center;
}

.RegisterMainButton{
  float: left;
  width: 22%;
  height: width;
  padding: 1rem;  
  margin: 3px;
}

@media only screen and (max-width: 350px) {
  .RegisterMainButton {width: 100%;}
}

@media only screen and (max-width: 768px) {
  .RegisterMainButton {width: 22%;}
}