.content{
  display:block;
  width:100%;
  height: auto;
  text-align: center;
  padding: 20px;
  margin:20px 60px 50px 10px;
}

.img{
  position: relative;
  background-image: url("../images/background_student.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 110vh;
  background-size:cover;
}

.container{
  text-align:center;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  margin-top: 20px;
}

.center-col{
  height: 300px;
  width: 100%;
  border-style: solid;
  overflow-y: scroll;

}

.signupbuttons{
  padding:  20px;
  text-align:center;
}
.RegisterMainButton{
  height: 250px;
  width: 250px;
}