.middle{
  display:block;
  width:100%;
  height:150px;
  background-color: #00CC66;
  padding:20;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 20px;
  padding-left: 20px;
  font-style: bold;
  color:black;
  text-align: left;
  font-size: 30px;
}
