#footer {
  padding:20px 0;
  height: 10%;
}
#footer .footerLogo {
  float:left;
}
#footer .addWrap {
  float:left;
  margin-left: 50px;
  font-size: 14px;
}
#footer .addWrap{
  font-weight: bold;

}


@media all and (max-width: 350px) {
  #footerNone{ display:none; }
}